icf
$ Configuration of object pose_test
with integr;
  tout    =  1.000E+0001;
  lastparfile    = "";
  step    =  2.000E-0002;
  h       =  1.000E-0003;
  error   =  1.000E-0006;
  error_cgm   =  1.000E-0001;
  method  = park;
  inverse = true;
  crelaxation_linear=1;
  dx_linear=1E-08;
  eps_linear=1E-08;
  nitermax_linear=20;
  la_must_zero_v=true;
  la_auto_equilibrium=true;
  qr_alg4=false;
  la_break_singular_jm=true;
  psolutionmethod=cgm;
  usethreads=true;
  nthreads=5;
  keep_decomposition=false;
  keep_decomposition_count=100;
  jacobian = false;
  asmmatrix = false;
  info_disabled_frc = true;
with solvers;
  bdfminstep=1E-10;
  bdfmaxorder=5;
  abmminstep=1E-10;
  abmmaxorder=11;
  const_step=0.001;
  n_step_min_const=10;
  parkpredict=medium;
  error_limit=10.0;
  parkminstep=1E-12;
  parkmaxstep=0.001;
  parkminstepconst=0;
  parkmaxiter=1;
  parkminiter=1;
  parkstartdiscr=2;
  itermult=1;
  ppfrequency=500;
  ppdampingratio=0.5;
with go_assignment;
with graphwindow; 
  left=48; top=45; 
  width=869; height=452; 
  minx=-2.59776147318349E+0000; 
  maxx= 1.75355262280157E+0001; 
  miny=-7.80260304529395E-0001; 
  maxy= 6.55261990507312E-0001; 
  filtertype=0; 
  passtype=1; 
  filterorder=12; 
  lowfreq= 0.00000000000000E+0000; 
  highfreq= 1.00000000000000E+0001; 
  fixedvisibleregion=false;
  align=3; dpsize= 6.61333333333333E+0001; 
  abscissa=0;
  legendsize=8;
  axislegendonplot=true;  addlines=true;  showscales=true;
  autostepx=true;  manualstepx= 1.00000000000000E-0001;
  autostepy=true;  manualstepy= 1.00000000000000E-0001;
  autoscalex=false;  manualscalex=0;
  autoscaley=false;  manualscaley=0;
  backcolor=16777215;  fontcolor=16711680;  fontsize=7;
  gridstylesolid=false;
  ofsleft=30;
  ofstop=15;
  ofsright=15;
  ofsbottom=15;
  graphswidth=1;
  selectedwidth=2;
  markselectedvars=true;
  usefilter=false;
  filter_min= 0.00000000000000E+0000;
  filter_max= 1.00000000000000E+0000;
  with grwindowvar;
    color=008000;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=X;
      comment="";
      elementname=X;
      subs=1; ielem=1;
      type=ident;
  with grwindowvar;
    color=800080;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=Y;
      comment="";
      elementname=Y;
      subs=1; ielem=2;
      type=ident;
  with grwindowvar;
    color=FF0000;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=Z;
      comment="";
      elementname=Z;
      subs=1; ielem=3;
      type=ident;
  with grwindowvar;
    color=0000FF;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=r:x(Body1.Sensor1);
      comment="Sensor(Body1.Sensor1): r; projection X";
      elementname=Body1.Sensor1;
      subs=1; ielem=1;
      type=sensor;
        loctype=r_r; loctypeadv=0 ;
    component=x; 
    x= 2.50000000000000E-0001;     y= 5.00000000000000E-0001;     z= 2.00000000000000E-0001; 
  with grwindowvar;
    color=808000;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=r:y(Body1.Sensor1);
      comment="Sensor(Body1.Sensor1): r; projection Y";
      elementname=Body1.Sensor1;
      subs=1; ielem=1;
      type=sensor;
        loctype=r_r; loctypeadv=0 ;
    component=y; 
    x= 2.50000000000000E-0001;     y= 5.00000000000000E-0001;     z= 2.00000000000000E-0001; 
  with grwindowvar;
    color=000080;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=r:z(Body1.Sensor1);
      comment="Sensor(Body1.Sensor1): r; projection Z";
      elementname=Body1.Sensor1;
      subs=1; ielem=1;
      type=sensor;
        loctype=r_r; loctypeadv=0 ;
    component=z; 
    x= 2.50000000000000E-0001;     y= 5.00000000000000E-0001;     z= 2.00000000000000E-0001; 
with animwindow;
  graphicstype=3; 
  left=83; top=111; 
  width=869; height=452; 
  bgcolor=16777215;
  viewfield=30;
  rotation_style=z;
  camerasubs=0;  camerabody=0;  gridtype=1;  scalev=1;   scalea=10;   scaleang=0.1; 
  scaleom=1;   scalee=10;   scalef=10;   scalem=2.5; 
  arrowl=0.2;   arrowr=0.05;   vectorr=0.025; 
  a11=  0.6856; a12= -0.4608; a13=  0.5636; 
  a21=  0.0000; a22=  0.7742; a23=  0.6330; 
  a31= -0.7280; a32= -0.4340; a33=  0.5308; 
  tpx= 0.00000000000000E+0000; tpy= 0.00000000000000E+0000; tpz= 0.00000000000000E+0000; 
  align=3; dpsize=41; 
with end;
