icf
$ Configuration of object test_hexapod
with integr;
  tout    =  6.000E+0002;
  lastparfile    = "";
  step    =  2.000E-0002;
  h       =  1.000E-0003;
  error   =  1.000E-0007;
  error_cgm   =  1.000E-0001;
  method  = gearnl;
  crelaxation_linear=1;
  dx_linear=1E-08;
  eps_linear=1E-08;
  nitermax_linear=20;
  la_must_zero_v=true;
  la_auto_equilibrium=true;
  qr_alg4=false;
  la_break_singular_jm=true;
  psolutionmethod=bdj;
  usethreads=true;
  nthreads=5;
  real_time_delay=true;
  keep_decomposition=true;
  keep_decomposition_count=100;
  jacobian = true;
  block_jacobian = true;
  asmmatrix = false;
  info_disabled_frc = false;
with solvers;
  bdfminstep=1E-10;
  bdfmaxorder=5;
  abmminstep=1E-10;
  abmmaxorder=11;
  const_step=0.001;
  n_step_min_const=10;
  parkpredict=medium;
  error_limit=10.0;
  parkminstep=1E-12;
  parkmaxstep=0.001;
  parkminstepconst=0;
  parkmaxiter=1;
  parkminiter=1;
  parkstartdiscr=2;
  itermult=1;
  ppfrequency=500;
  ppdampingratio=0.5;
with ctrlpanel;
  cpfilename = "Default.cp";
  cpleft = 16;
  cptop = 469;
with go_assignment;
with graphwindow; 
  left=333; top=-11; 
  width=805; height=645; 
  minx=-2.00705494561244E+0001; 
  maxx= 7.01440477598179E+0001; 
  miny= 1.34876437744955E+0000; 
  maxy= 1.76661537643628E+0000; 
  filtertype=0; 
  passtype=1; 
  filterorder=12; 
  lowfreq= 0.00000000000000E+0000; 
  highfreq= 1.00000000000000E+0001; 
  fixedvisibleregion=false;
  align=3; dpsize= 1.66400000000000E+0002; 
  abscissa=0;
  legendsize=8;
  axislegendonplot=true;  addlines=true;  showscales=true;
  autostepx=true;  manualstepx= 1.00000000000000E-0001;
  autostepy=true;  manualstepy= 1.00000000000000E-0001;
  autoscalex=false;  manualscalex=0;
  autoscaley=false;  manualscaley=0;
  backcolor=16777215;  fontcolor=16711680;  fontsize=7;
  gridstylesolid=false;
  ofsleft=30;
  ofstop=15;
  ofsright=15;
  ofsbottom=15;
  graphswidth=1;
  selectedwidth=2;
  markselectedvars=true;
  usefilter=false;
  filter_min= 0.00000000000000E+0000;
  filter_max= 1.00000000000000E+0000;
  with grwindowvar;
    color=008000;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=ML_alpha_target;
      comment="";
      elementname=ML_alpha_target;
      subs=1; ielem=9;
      type=ident;
  with grwindowvar;
    color=800080;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=FL_alpha_target;
      comment="";
      elementname=FL_alpha_target;
      subs=1; ielem=11;
      type=ident;
  with grwindowvar;
    color=FF0000;
    marker=0;
    markedline=0;
    visible=0;
    with grvar;
      name=FL_beta_target;
      comment="";
      elementname=FL_beta_target;
      subs=1; ielem=12;
      type=ident;
  with grwindowvar;
    color=0000FF;
    marker=0;
    markedline=0;
    visible=0;
    with grvar;
      name=FL_gamma_target;
      comment="";
      elementname=FL_gamma_target;
      subs=1; ielem=13;
      type=ident;
  with grwindowvar;
    color=808000;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=RL_alpha_target;
      comment="";
      elementname=RL_alpha_target;
      subs=1; ielem=14;
      type=ident;
  with grwindowvar;
    color=000080;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=FR_alpha_target;
      comment="";
      elementname=FR_alpha_target;
      subs=1; ielem=15;
      type=ident;
  with grwindowvar;
    color=800000;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=MR_alpha_target;
      comment="";
      elementname=MR_alpha_target;
      subs=1; ielem=16;
      type=ident;
  with grwindowvar;
    color=808080;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=RR_alpha_target;
      comment="";
      elementname=RR_alpha_target;
      subs=1; ielem=17;
      type=ident;
  with grwindowvar;
    color=FF00FF;
    marker=0;
    markedline=0;
    visible=0;
    with grvar;
      name=ML_beta_target;
      comment="";
      elementname=ML_beta_target;
      subs=1; ielem=18;
      type=ident;
  with grwindowvar;
    color=C0C0C0;
    marker=0;
    markedline=0;
    visible=0;
    with grvar;
      name=RL_beta_target;
      comment="";
      elementname=RL_beta_target;
      subs=1; ielem=19;
      type=ident;
  with grwindowvar;
    color=00FF00;
    marker=0;
    markedline=0;
    visible=0;
    with grvar;
      name=FR_beta_target;
      comment="";
      elementname=FR_beta_target;
      subs=1; ielem=20;
      type=ident;
  with grwindowvar;
    color=008080;
    marker=0;
    markedline=0;
    visible=0;
    with grvar;
      name=MR_beta_target;
      comment="";
      elementname=MR_beta_target;
      subs=1; ielem=21;
      type=ident;
  with grwindowvar;
    color=00FFFF;
    marker=0;
    markedline=0;
    visible=0;
    with grvar;
      name=RR_beta_target;
      comment="";
      elementname=RR_beta_target;
      subs=1; ielem=22;
      type=ident;
  with grwindowvar;
    color=FFFF00;
    marker=0;
    markedline=0;
    visible=0;
    with grvar;
      name=ML_gamma_target;
      comment="";
      elementname=ML_gamma_target;
      subs=1; ielem=23;
      type=ident;
  with grwindowvar;
    color=000000;
    marker=0;
    markedline=0;
    visible=0;
    with grvar;
      name=RL_gamma_target;
      comment="";
      elementname=RL_gamma_target;
      subs=1; ielem=24;
      type=ident;
  with grwindowvar;
    color=008000;
    marker=0;
    markedline=0;
    visible=0;
    with grvar;
      name=FR_gamma_target;
      comment="";
      elementname=FR_gamma_target;
      subs=1; ielem=25;
      type=ident;
  with grwindowvar;
    color=800080;
    marker=0;
    markedline=0;
    visible=0;
    with grvar;
      name=MR_gamma_target;
      comment="";
      elementname=MR_gamma_target;
      subs=1; ielem=26;
      type=ident;
  with grwindowvar;
    color=FF0000;
    marker=0;
    markedline=0;
    visible=0;
    with grvar;
      name=RR_gamma_target;
      comment="";
      elementname=RR_gamma_target;
      subs=1; ielem=27;
      type=ident;
  with grwindowvar;
    color=0000FF;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=X1.7;
      comment="Coordinate 7, subsystem 1";
      subs=1; ielem=7;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=808000;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=X1.8;
      comment="Coordinate 8, subsystem 1";
      subs=1; ielem=8;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=000080;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=X1.9;
      comment="Coordinate 9, subsystem 1";
      subs=1; ielem=9;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=800000;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=X1.10;
      comment="Coordinate 10, subsystem 1";
      subs=1; ielem=10;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=808080;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=X1.11;
      comment="Coordinate 11, subsystem 1";
      subs=1; ielem=11;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=FF00FF;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=X1.12;
      comment="Coordinate 12, subsystem 1";
      subs=1; ielem=12;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=C0C0C0;
    marker=0;
    markedline=0;
    visible=0;
    with grvar;
      name=X1.13;
      comment="Coordinate 13, subsystem 1";
      subs=1; ielem=13;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=00FF00;
    marker=0;
    markedline=0;
    visible=0;
    with grvar;
      name=X1.14;
      comment="Coordinate 14, subsystem 1";
      subs=1; ielem=14;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=008080;
    marker=0;
    markedline=0;
    visible=0;
    with grvar;
      name=X1.15;
      comment="Coordinate 15, subsystem 1";
      subs=1; ielem=15;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=00FFFF;
    marker=0;
    markedline=0;
    visible=0;
    with grvar;
      name=X1.16;
      comment="Coordinate 16, subsystem 1";
      subs=1; ielem=16;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=FFFF00;
    marker=0;
    markedline=0;
    visible=0;
    with grvar;
      name=X1.17;
      comment="Coordinate 17, subsystem 1";
      subs=1; ielem=17;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=000000;
    marker=0;
    markedline=0;
    visible=0;
    with grvar;
      name=X1.18;
      comment="Coordinate 18, subsystem 1";
      subs=1; ielem=18;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=008000;
    marker=0;
    markedline=0;
    visible=0;
    with grvar;
      name=X1.19;
      comment="Coordinate 19, subsystem 1";
      subs=1; ielem=19;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=800080;
    marker=0;
    markedline=0;
    visible=0;
    with grvar;
      name=X1.20;
      comment="Coordinate 20, subsystem 1";
      subs=1; ielem=20;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=FF0000;
    marker=0;
    markedline=0;
    visible=0;
    with grvar;
      name=X1.21;
      comment="Coordinate 21, subsystem 1";
      subs=1; ielem=21;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=0000FF;
    marker=0;
    markedline=0;
    visible=0;
    with grvar;
      name=X1.22;
      comment="Coordinate 22, subsystem 1";
      subs=1; ielem=22;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=808000;
    marker=0;
    markedline=0;
    visible=0;
    with grvar;
      name=X1.23;
      comment="Coordinate 23, subsystem 1";
      subs=1; ielem=23;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=000080;
    marker=0;
    markedline=0;
    visible=0;
    with grvar;
      name=X1.24;
      comment="Coordinate 24, subsystem 1";
      subs=1; ielem=24;
      type=coor;
    type=coor; loctype=coor; 
with graphwindow; 
  left=279; top=32; 
  width=860; height=439; 
  minx= 1.27092727880205E+0001; 
  maxx= 2.16649757585707E+0001; 
  miny=-1.03569176095434E-0002; 
  maxy= 1.06462487065880E-0002; 
  filtertype=0; 
  passtype=1; 
  filterorder=12; 
  lowfreq= 0.00000000000000E+0000; 
  highfreq= 1.00000000000000E+0001; 
  fixedvisibleregion=false;
  align=3; dpsize= 1.98933333333333E+0002; 
  abscissa=0;
  legendsize=8;
  axislegendonplot=true;  addlines=true;  showscales=true;
  autostepx=true;  manualstepx= 1.00000000000000E-0001;
  autostepy=true;  manualstepy= 1.00000000000000E-0001;
  autoscalex=false;  manualscalex=0;
  autoscaley=false;  manualscaley=0;
  backcolor=16777215;  fontcolor=16711680;  fontsize=7;
  gridstylesolid=false;
  ofsleft=30;
  ofstop=15;
  ofsright=15;
  ofsbottom=15;
  graphswidth=1;
  selectedwidth=2;
  markselectedvars=true;
  usefilter=false;
  filter_min= 0.00000000000000E+0000;
  filter_max= 1.00000000000000E+0000;
  with grwindowvar;
    color=008000;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=COM_X;
      comment="";
      elementname=COM_X;
      subs=1; ielem=28;
      type=ident;
  with grwindowvar;
    color=800080;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=COM_Y;
      comment="";
      elementname=COM_Y;
      subs=1; ielem=29;
      type=ident;
  with grwindowvar;
    color=FF0000;
    marker=0;
    markedline=0;
    visible=0;
    with grvar;
      name=COM_Z;
      comment="";
      elementname=COM_Z;
      subs=1; ielem=30;
      type=ident;
  with grwindowvar;
    color=0000FF;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=Xc19(test_hexapod(All bodies));
      comment="Center of mass. Projection X";
      subs=1; ielem=1;
      type=CenterOfMassXBodyList;
      bodylist={
        Body,
        FL.leg_seg1,
        FL.leg_seg2,
        FL.leg_seg3,
        ML.leg_seg1,
        ML.leg_seg2,
        ML.leg_seg3,
        RL.leg_seg1,
        RL.leg_seg2,
        RL.leg_seg3,
        FR.leg_seg1,
        FR.leg_seg2,
        FR.leg_seg3,
        MR.leg_seg1,
        MR.leg_seg2,
        MR.leg_seg3,
        RR.leg_seg1,
        RR.leg_seg2,
        RR.leg_seg3
      };
  with grwindowvar;
    color=808000;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=Yc19(test_hexapod(All bodies));
      comment="Center of mass. Projection Y";
      subs=1; ielem=1;
      type=CenterOfMassYBodyList;
      bodylist={
        Body,
        FL.leg_seg1,
        FL.leg_seg2,
        FL.leg_seg3,
        ML.leg_seg1,
        ML.leg_seg2,
        ML.leg_seg3,
        RL.leg_seg1,
        RL.leg_seg2,
        RL.leg_seg3,
        FR.leg_seg1,
        FR.leg_seg2,
        FR.leg_seg3,
        MR.leg_seg1,
        MR.leg_seg2,
        MR.leg_seg3,
        RR.leg_seg1,
        RR.leg_seg2,
        RR.leg_seg3
      };
  with grwindowvar;
    color=000080;
    marker=0;
    markedline=0;
    visible=0;
    with grvar;
      name=Zc19(test_hexapod(All bodies));
      comment="Center of mass. Projection Z";
      subs=1; ielem=1;
      type=CenterOfMassZBodyList;
      bodylist={
        Body,
        FL.leg_seg1,
        FL.leg_seg2,
        FL.leg_seg3,
        ML.leg_seg1,
        ML.leg_seg2,
        ML.leg_seg3,
        RL.leg_seg1,
        RL.leg_seg2,
        RL.leg_seg3,
        FR.leg_seg1,
        FR.leg_seg2,
        FR.leg_seg3,
        MR.leg_seg1,
        MR.leg_seg2,
        MR.leg_seg3,
        RR.leg_seg1,
        RR.leg_seg2,
        RR.leg_seg3
      };
with animwindow;
  graphicstype=2; 
  left=23; top=4; 
  width=525; height=477; 
  bgcolor=16777215;
  viewfield=30;
  rotation_style=z;
  camerasubs=0;  camerabody=0;  gridtype=1;  scalev=1;   scalea=10;   scaleang=0.1; 
  scaleom=1;   scalee=10;   scalef=280;   scalem=700; 
  arrowl=0.2;   arrowr=0.05;   vectorr=0.025; 
  a11= -0.3283; a12= -0.3020; a13=  0.8955; 
  a21=  0.0000; a22=  0.9477; a23=  0.3194; 
  a31= -0.9446; a32=  0.1047; a33= -0.3106; 
  tpx= 2.51108042281829E-0002; tpy= 1.84405892963196E-0001; tpz=-6.58978618930566E+0000; 
  align=3; dpsize=41; 
    with grwindowvar;
      color=C0C0C0;
      maxtrgpointcount=1000;
      waydraw=originpoint;
    with grvar;
      name=;
      comment="Center of mass, vector";
      subs=1; ielem=1;
      type=VectorCenterOfMassBodyList;
    with grwindowvar;
      color=C0C0C0;
      maxtrgpointcount=1000;
      waydraw=originpoint;
    with grvar;
      name=Rc19(test_hexapod(All bodies));
      comment="Center of mass, vector";
      subs=1; ielem=1;
      type=VectorCenterOfMassBodyList;
      bodylist={
        Body,
        FL.leg_seg1,
        FL.leg_seg2,
        FL.leg_seg3,
        ML.leg_seg1,
        ML.leg_seg2,
        ML.leg_seg3,
        RL.leg_seg1,
        RL.leg_seg2,
        RL.leg_seg3,
        FR.leg_seg1,
        FR.leg_seg2,
        FR.leg_seg3,
        MR.leg_seg1,
        MR.leg_seg2,
        MR.leg_seg3,
        RR.leg_seg1,
        RR.leg_seg2,
        RR.leg_seg3
      };
with end;
