icf
$ Configuration of object mozaik
with integr;
  tout    =  1.000E+0001;
  lastparfile    = "";
  step    =  2.000E-0003;
  h       =  1.000E-0003;
  error   =  1.000E-0006;
  error_cgm   =  1.000E-0001;
  method  = park;
  inverse = true;
  crelaxation_linear=1;
  dx_linear=1E-08;
  eps_linear=1E-08;
  nitermax_linear=20;
  la_must_zero_v=true;
  la_auto_equilibrium=true;
  qr_alg4=false;
  la_break_singular_jm=true;
  psolutionmethod=cgm;
  usethreads=true;
  nthreads=5;
  keep_decomposition=false;
  keep_decomposition_count=100;
  jacobian = false;
  asmmatrix = false;
  info_disabled_frc = true;
with solvers;
  bdfminstep=1E-10;
  bdfmaxorder=5;
  abmminstep=1E-10;
  abmmaxorder=11;
  const_step=0.001;
  n_step_min_const=10;
  parkpredict=medium;
  error_limit=10.0;
  parkminstep=1E-12;
  parkmaxstep=0.001;
  parkminstepconst=0;
  parkmaxiter=1;
  parkminiter=1;
  parkstartdiscr=2;
  itermult=1;
  ppfrequency=500;
  ppdampingratio=0.5;
with go_assignment;
with animwindow;
  graphicstype=3; 
  left=28; top=37; 
  width=869; height=452; 
  bgcolor=16744576;
  viewfield=30;
  rotation_style=z;
  camerasubs=0;  camerabody=0;  gridtype=1;  scalev=1;   scalea=10;   scaleang=0.1; 
  scaleom=1;   scalee=10;   scalef=1200.5;   scalem=1500.63; 
  arrowl=0.2;   arrowr=0.05;   vectorr=0.025; 
  a11=  0.3110; a12=  0.6446; a13= -0.6984; 
  a21=  0.0000; a22=  0.7348; a23=  0.6783; 
  a31=  0.9504; a32= -0.2109; a33=  0.2285; 
  tpx= 0.00000000000000E+0000; tpy= 0.00000000000000E+0000; tpz=-4.27005197771383E+0000; 
  align=3; dpsize=41; 
with end;
