icf
$ Configuration of object single_leg
with integr;
  tout    =  1.000E+0001;
  lastparfile    = "";
  step    =  2.000E-0002;
  h       =  1.000E-0003;
  error   =  1.000E-0006;
  error_cgm   =  1.000E-0001;
  method  = park;
  inverse = true;
  crelaxation_linear=1;
  dx_linear=1E-08;
  eps_linear=1E-08;
  nitermax_linear=20;
  la_must_zero_v=true;
  la_auto_equilibrium=true;
  qr_alg4=false;
  la_break_singular_jm=true;
  psolutionmethod=cgm;
  usethreads=true;
  nthreads=5;
  real_time_delay=true;
  keep_decomposition=false;
  keep_decomposition_count=100;
  jacobian = false;
  asmmatrix = false;
  info_disabled_frc = true;
with solvers;
  bdfminstep=1E-10;
  bdfmaxorder=5;
  abmminstep=1E-10;
  abmmaxorder=11;
  const_step=0.001;
  n_step_min_const=10;
  parkpredict=medium;
  error_limit=10.0;
  parkminstep=1E-12;
  parkmaxstep=0.001;
  parkminstepconst=0;
  parkmaxiter=1;
  parkminiter=1;
  parkstartdiscr=2;
  itermult=1;
  ppfrequency=500;
  ppdampingratio=0.5;
with go_assignment;
with graphwindow; 
  left=111; top=148; 
  width=860; height=439; 
  minx= 0.00000000000000E+0000; 
  maxx= 1.33182949753594E+0001; 
  miny=-2.44363877930405E+0001; 
  maxy= 6.94917477195489E+0001; 
  filtertype=0; 
  passtype=1; 
  filterorder=12; 
  lowfreq= 0.00000000000000E+0000; 
  highfreq= 1.00000000000000E+0001; 
  fixedvisibleregion=false;
  align=3; dpsize= 6.61333333333333E+0001; 
  abscissa=0;
  legendsize=8;
  axislegendonplot=true;  addlines=true;  showscales=true;
  autostepx=true;  manualstepx= 1.00000000000000E-0001;
  autostepy=true;  manualstepy= 1.00000000000000E-0001;
  autoscalex=false;  manualscalex=0;
  autoscaley=false;  manualscaley=0;
  backcolor=16777215;  fontcolor=16711680;  fontsize=7;
  gridstylesolid=false;
  ofsleft=30;
  ofstop=15;
  ofsright=15;
  ofsbottom=15;
  graphswidth=1;
  selectedwidth=2;
  markselectedvars=true;
  usefilter=false;
  filter_min= 0.00000000000000E+0000;
  filter_max= 1.00000000000000E+0000;
  with grwindowvar;
    color=008000;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=X1.1;
      comment="Coordinate 1, subsystem 1";
      subs=1; ielem=1;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=800080;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=X1.2;
      comment="Coordinate 2, subsystem 1";
      subs=1; ielem=2;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=FF0000;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=X1.3;
      comment="Coordinate 3, subsystem 1";
      subs=1; ielem=3;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=0000FF;
    marker=0;
    markedline=0;
    visible=0;
    with grvar;
      name=r:x(Body3.Sensor1);
      comment="Sensor(Body3.Sensor1): r; projection X";
      elementname=Body3.Sensor1;
      subs=1; ielem=1;
      type=sensor;
        loctype=r_r; loctypeadv=0 ;
    component=x; 
    z= 3.00000000000000E+0000; 
  with grwindowvar;
    color=808000;
    marker=0;
    markedline=0;
    visible=0;
    with grvar;
      name=r:y(Body3.Sensor1);
      comment="Sensor(Body3.Sensor1): r; projection Y";
      elementname=Body3.Sensor1;
      subs=1; ielem=1;
      type=sensor;
        loctype=r_r; loctypeadv=0 ;
    component=y; 
    z= 3.00000000000000E+0000; 
  with grwindowvar;
    color=000080;
    marker=0;
    markedline=0;
    visible=0;
    with grvar;
      name=r:z(Body3.Sensor1);
      comment="Sensor(Body3.Sensor1): r; projection Z";
      elementname=Body3.Sensor1;
      subs=1; ielem=1;
      type=sensor;
        loctype=r_r; loctypeadv=0 ;
    component=z; 
    z= 3.00000000000000E+0000; 
with animwindow;
  graphicstype=3; 
  left=212; top=71; 
  width=869; height=452; 
  bgcolor=16777215;
  viewfield=30;
  rotation_style=z;
  camerasubs=0;  camerabody=0;  gridtype=1;  scalev=1;   scalea=10;   scaleang=0.1; 
  scaleom=1;   scalee=10;   scalef=3615.6;   scalem=903.9; 
  arrowl=0.2;   arrowr=0.05;   vectorr=0.025; 
  a11=  1.0000; a12=  0.0000; a13=  0.0000; 
  a21=  0.0000; a22=  0.0000; a23=  1.0000; 
  a31=  0.0000; a32= -1.0000; a33=  0.0000; 
  perspective=ortho; clipleft=6.31815933034794;
  tpx= 7.48901471097711E-0001; tpy=-1.88327861031319E+0000; tpz= 0.00000000000000E+0000; 
  align=3; dpsize=84; 
  vectorsvisible=true;
    with grwindowvar;
      color=0000FF;
      maxtrgpointcount=1000;
      waydraw=originpoint;
    with grvar;
      name=r:v(Body3.Sensor1);
      comment="Sensor(Body3.Sensor1): r; Vector";
      elementname=Body3.Sensor1;
      subs=1; ielem=1;
      type=sensor;
        loctype=r_r; loctypeadv=0 ;
    component=vector; 
    z= 3.00000000000000E+0000; 
with end;
