icf
$ Configuration of object articulated
with integr;
  tout    =  1.000E+0003;
  lastparfile    = "";
  step    =  2.000E-0002;
  h       =  1.000E-0003;
  error   =  1.000E-0008;
  error_cgm   =  1.000E-0001;
  method  = park;
  inverse = true;
  crelaxation_linear=1;
  dx_linear=1E-08;
  eps_linear=1E-08;
  nitermax_linear=20;
  la_must_zero_v=true;
  la_auto_equilibrium=true;
  qr_alg4=false;
  la_break_singular_jm=true;
  psolutionmethod=cgm;
  usethreads=true;
  nthreads=5;
  keep_decomposition=false;
  keep_decomposition_count=100;
  jacobian = false;
  asmmatrix = false;
  info_disabled_frc = true;
with solvers;
  bdfminstep=1E-10;
  bdfmaxorder=5;
  abmminstep=1E-10;
  abmmaxorder=11;
  const_step=0.001;
  n_step_min_const=10;
  parkpredict=medium;
  error_limit=10.0;
  parkminstep=1E-12;
  parkmaxstep=0.001;
  parkminstepconst=0;
  parkmaxiter=1;
  parkminiter=1;
  parkstartdiscr=2;
  itermult=1;
  ppfrequency=500;
  ppdampingratio=0.5;
with ctrlpanel;
  cpfilename = "Default.cp";
  cpleft = 485;
  cptop = 67;
with go_assignment;
with graphwindow; 
  left=375; top=223; 
  width=496; height=572; 
  minx= 0.00000000000000E+0000; 
  maxx= 2.10341675565353E+0002; 
  miny=-3.13894415268758E+0000; 
  maxy= 3.33444810666332E+0000; 
  filtertype=0; 
  passtype=1; 
  filterorder=12; 
  lowfreq= 0.00000000000000E+0000; 
  highfreq= 1.00000000000000E+0001; 
  fixedvisibleregion=false;
  align=3; dpsize= 1.76000000000000E+0002; 
  abscissa=0;
  legendsize=8;
  axislegendonplot=true;  addlines=true;  showscales=true;
  autostepx=true;  manualstepx= 1.00000000000000E-0001;
  autostepy=true;  manualstepy= 1.00000000000000E-0001;
  autoscalex=false;  manualscalex=0;
  autoscaley=false;  manualscaley=0;
  backcolor=16777215;  fontcolor=16711680;  fontsize=7;
  gridstylesolid=false;
  ofsleft=30;
  ofstop=15;
  ofsright=15;
  ofsbottom=15;
  graphswidth=1;
  selectedwidth=2;
  markselectedvars=true;
  usefilter=false;
  filter_min= 0.00000000000000E+0000;
  filter_max= 1.00000000000000E+0000;
  with grwindowvar;
    color=008000;
    marker=0;
    markedline=0;
    visible=0;
    with grvar;
      name=X1.1;
      comment="Coordinate 1, subsystem 1";
      subs=1; ielem=1;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=800080;
    marker=0;
    markedline=0;
    visible=0;
    with grvar;
      name=X1.2;
      comment="Coordinate 2, subsystem 1";
      subs=1; ielem=2;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=FF0000;
    marker=0;
    markedline=0;
    visible=0;
    with grvar;
      name=X1.3;
      comment="Coordinate 3, subsystem 1";
      subs=1; ielem=3;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=0000FF;
    marker=0;
    markedline=0;
    visible=0;
    with grvar;
      name=X1.4;
      comment="Coordinate 4, subsystem 1";
      subs=1; ielem=4;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=808000;
    marker=0;
    markedline=0;
    visible=0;
    with grvar;
      name=X1.5;
      comment="Coordinate 5, subsystem 1";
      subs=1; ielem=5;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=000080;
    marker=0;
    markedline=0;
    visible=0;
    with grvar;
      name=X1.6;
      comment="Coordinate 6, subsystem 1";
      subs=1; ielem=6;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=800000;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=X1.7;
      comment="Coordinate 7, subsystem 1";
      subs=1; ielem=7;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=808080;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=X1.8;
      comment="Coordinate 8, subsystem 1";
      subs=1; ielem=8;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=FF00FF;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=X1.9;
      comment="Coordinate 9, subsystem 1";
      subs=1; ielem=9;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=C0C0C0;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=X1.10;
      comment="Coordinate 10, subsystem 1";
      subs=1; ielem=10;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=00FF00;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=X1.11;
      comment="Coordinate 11, subsystem 1";
      subs=1; ielem=11;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=008080;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=X1.12;
      comment="Coordinate 12, subsystem 1";
      subs=1; ielem=12;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=00FFFF;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=X1.13;
      comment="Coordinate 13, subsystem 1";
      subs=1; ielem=13;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=FFFF00;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=X1.14;
      comment="Coordinate 14, subsystem 1";
      subs=1; ielem=14;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=000000;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=X1.15;
      comment="Coordinate 15, subsystem 1";
      subs=1; ielem=15;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=008000;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=X1.16;
      comment="Coordinate 16, subsystem 1";
      subs=1; ielem=16;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=800080;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=X1.17;
      comment="Coordinate 17, subsystem 1";
      subs=1; ielem=17;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=FF0000;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=X1.18;
      comment="Coordinate 18, subsystem 1";
      subs=1; ielem=18;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=0000FF;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=X1.19;
      comment="Coordinate 19, subsystem 1";
      subs=1; ielem=19;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=808000;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=X1.20;
      comment="Coordinate 20, subsystem 1";
      subs=1; ielem=20;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=000080;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=X1.21;
      comment="Coordinate 21, subsystem 1";
      subs=1; ielem=21;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=800000;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=X1.22;
      comment="Coordinate 22, subsystem 1";
      subs=1; ielem=22;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=808080;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=X1.23;
      comment="Coordinate 23, subsystem 1";
      subs=1; ielem=23;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=FF00FF;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=X1.24;
      comment="Coordinate 24, subsystem 1";
      subs=1; ielem=24;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=C0C0C0;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=X1.25;
      comment="Coordinate 25, subsystem 1";
      subs=1; ielem=25;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=00FF00;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=X1.26;
      comment="Coordinate 26, subsystem 1";
      subs=1; ielem=26;
      type=coor;
    type=coor; loctype=coor; 
  with grwindowvar;
    color=008080;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=FL_alpha_target;
      comment="";
      elementname=FL_alpha_target;
      subs=1; ielem=28;
      type=ident;
  with grwindowvar;
    color=00FFFF;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=FL_beta_target;
      comment="";
      elementname=FL_beta_target;
      subs=1; ielem=29;
      type=ident;
  with grwindowvar;
    color=FFFF00;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=FL_gamma_target;
      comment="";
      elementname=FL_gamma_target;
      subs=1; ielem=30;
      type=ident;
  with grwindowvar;
    color=000000;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=FR_alpha_target;
      comment="";
      elementname=FR_alpha_target;
      subs=1; ielem=31;
      type=ident;
  with grwindowvar;
    color=008000;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=FR_beta_target;
      comment="";
      elementname=FR_beta_target;
      subs=1; ielem=32;
      type=ident;
  with grwindowvar;
    color=800080;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=FR_gamma_target;
      comment="";
      elementname=FR_gamma_target;
      subs=1; ielem=33;
      type=ident;
  with grwindowvar;
    color=FF0000;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=ML_alpha_target;
      comment="";
      elementname=ML_alpha_target;
      subs=1; ielem=34;
      type=ident;
  with grwindowvar;
    color=0000FF;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=ML_beta_target;
      comment="";
      elementname=ML_beta_target;
      subs=1; ielem=35;
      type=ident;
  with grwindowvar;
    color=808000;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=ML_gamma_target;
      comment="";
      elementname=ML_gamma_target;
      subs=1; ielem=36;
      type=ident;
  with grwindowvar;
    color=000080;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=MR_alpha_target;
      comment="";
      elementname=MR_alpha_target;
      subs=1; ielem=37;
      type=ident;
  with grwindowvar;
    color=800000;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=MR_beta_target;
      comment="";
      elementname=MR_beta_target;
      subs=1; ielem=38;
      type=ident;
  with grwindowvar;
    color=808080;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=MR_gamma_target;
      comment="";
      elementname=MR_gamma_target;
      subs=1; ielem=39;
      type=ident;
  with grwindowvar;
    color=FF00FF;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=RL_alpha_target;
      comment="";
      elementname=RL_alpha_target;
      subs=1; ielem=40;
      type=ident;
  with grwindowvar;
    color=C0C0C0;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=RL_beta_target;
      comment="";
      elementname=RL_beta_target;
      subs=1; ielem=41;
      type=ident;
  with grwindowvar;
    color=00FF00;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=RL_gamma_target;
      comment="";
      elementname=RL_gamma_target;
      subs=1; ielem=42;
      type=ident;
  with grwindowvar;
    color=008080;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=RR_alpha_target;
      comment="";
      elementname=RR_alpha_target;
      subs=1; ielem=43;
      type=ident;
  with grwindowvar;
    color=00FFFF;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=RR_beta_target;
      comment="";
      elementname=RR_beta_target;
      subs=1; ielem=44;
      type=ident;
  with grwindowvar;
    color=FFFF00;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=RR_gamma_target;
      comment="";
      elementname=RR_gamma_target;
      subs=1; ielem=45;
      type=ident;
  with grwindowvar;
    color=000000;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=j_1_2_target;
      comment="";
      elementname=j_1_2_target;
      subs=1; ielem=46;
      type=ident;
  with grwindowvar;
    color=008000;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=j_2_3_target;
      comment="";
      elementname=j_2_3_target;
      subs=1; ielem=47;
      type=ident;
with graphwindow; 
  left=601; top=66; 
  width=451; height=452; 
  minx= 0.00000000000000E+0000; 
  maxx= 2.09778048739182E+0002; 
  miny=-4.85233270275147E+0004; 
  maxy= 8.36510825459052E+0004; 
  filtertype=0; 
  passtype=1; 
  filterorder=12; 
  lowfreq= 0.00000000000000E+0000; 
  highfreq= 1.00000000000000E+0001; 
  fixedvisibleregion=false;
  align=3; dpsize= 6.61333333333333E+0001; 
  abscissa=0;
  legendsize=8;
  axislegendonplot=true;  addlines=true;  showscales=true;
  autostepx=true;  manualstepx= 1.00000000000000E-0001;
  autostepy=true;  manualstepy= 1.00000000000000E-0001;
  autoscalex=false;  manualscalex=0;
  autoscaley=false;  manualscaley=0;
  backcolor=16777215;  fontcolor=16711680;  fontsize=7;
  gridstylesolid=false;
  ofsleft=30;
  ofstop=15;
  ofsright=15;
  ofsbottom=15;
  graphswidth=1;
  selectedwidth=2;
  markselectedvars=true;
  usefilter=true;
  filter_min= 3.48200011253357E+0000;
  filter_max= 1.18129997253418E+0001;
  with grwindowvar;
    color=008000;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=FR_alpha;
      comment="";
      elementname=FR_alpha;
      subs=1; ielem=10;
      type=ident;
  with grwindowvar;
    color=800080;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=FR_beta;
      comment="";
      elementname=FR_beta;
      subs=1; ielem=11;
      type=ident;
  with grwindowvar;
    color=FF0000;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=FR_gamma;
      comment="";
      elementname=FR_gamma;
      subs=1; ielem=12;
      type=ident;
  with grwindowvar;
    color=0000FF;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=FL_alpha;
      comment="";
      elementname=FL_alpha;
      subs=1; ielem=13;
      type=ident;
  with grwindowvar;
    color=808000;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=FL_beta;
      comment="";
      elementname=FL_beta;
      subs=1; ielem=14;
      type=ident;
  with grwindowvar;
    color=000080;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=FL_gamma;
      comment="";
      elementname=FL_gamma;
      subs=1; ielem=15;
      type=ident;
  with grwindowvar;
    color=800000;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=ML_alpha;
      comment="";
      elementname=ML_alpha;
      subs=1; ielem=16;
      type=ident;
  with grwindowvar;
    color=808080;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=ML_beta;
      comment="";
      elementname=ML_beta;
      subs=1; ielem=17;
      type=ident;
  with grwindowvar;
    color=FF00FF;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=ML_gamma;
      comment="";
      elementname=ML_gamma;
      subs=1; ielem=18;
      type=ident;
  with grwindowvar;
    color=C0C0C0;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=MR_alpha;
      comment="";
      elementname=MR_alpha;
      subs=1; ielem=19;
      type=ident;
  with grwindowvar;
    color=00FF00;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=MR_beta;
      comment="";
      elementname=MR_beta;
      subs=1; ielem=20;
      type=ident;
  with grwindowvar;
    color=008080;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=MR_gamma;
      comment="";
      elementname=MR_gamma;
      subs=1; ielem=21;
      type=ident;
  with grwindowvar;
    color=00FFFF;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=RL_alpha;
      comment="";
      elementname=RL_alpha;
      subs=1; ielem=22;
      type=ident;
  with grwindowvar;
    color=FFFF00;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=RL_beta;
      comment="";
      elementname=RL_beta;
      subs=1; ielem=23;
      type=ident;
  with grwindowvar;
    color=000000;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=RL_gamma;
      comment="";
      elementname=RL_gamma;
      subs=1; ielem=24;
      type=ident;
  with grwindowvar;
    color=008000;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=RR_alpha;
      comment="";
      elementname=RR_alpha;
      subs=1; ielem=25;
      type=ident;
  with grwindowvar;
    color=800080;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=RR_beta;
      comment="";
      elementname=RR_beta;
      subs=1; ielem=26;
      type=ident;
  with grwindowvar;
    color=FF0000;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=RR_gamma;
      comment="";
      elementname=RR_gamma;
      subs=1; ielem=27;
      type=ident;
with animwindow;
  graphicstype=3; 
  left=2; top=-1; 
  width=720; height=596; 
  bgcolor=16744576;
  viewfield=30;
  rotation_style=z;
  camerasubs=0;  camerabody=0;  gridtype=1;  scalev=1;   scalea=10;   scaleang=0.1; 
  scaleom=1;   scalee=10;   scalef=840;   scalem=840; 
  arrowl=0.2;   arrowr=0.05;   vectorr=0.025; 
  a11=  0.9566; a12= -0.0507; a13=  0.2867; 
  a21=  0.0000; a22=  0.9846; a23=  0.1745; 
  a31= -0.2911; a32= -0.1666; a33=  0.9420; 
  tpx= 0.00000000000000E+0000; tpy= 0.00000000000000E+0000; tpz=-1.99587943257606E-0001; 
  align=3; dpsize=41; 
with end;
