icf
$ Configuration of object articulated
with integr;
  tout    =  6.000E+0001;
  lastparfile    = "";
  step    =  2.000E-0002;
  h       =  1.000E-0003;
  error   =  1.000E-0007;
  error_cgm   =  1.000E-0001;
  method  = park;
  inverse = true;
  crelaxation_linear=1;
  dx_linear=1E-08;
  eps_linear=1E-08;
  nitermax_linear=20;
  la_must_zero_v=true;
  la_auto_equilibrium=true;
  qr_alg4=false;
  la_break_singular_jm=true;
  psolutionmethod=cgm;
  usethreads=true;
  nthreads=5;
  real_time_delay=true;
  keep_decomposition=true;
  keep_decomposition_count=100;
  jacobian = true;
  block_jacobian = true;
  asmmatrix = false;
  info_disabled_frc = true;
with solvers;
  bdfminstep=1E-10;
  bdfmaxorder=5;
  abmminstep=1E-10;
  abmmaxorder=11;
  const_step=0.001;
  n_step_min_const=10;
  parkpredict=medium;
  error_limit=10.0;
  parkminstep=1E-12;
  parkmaxstep=0.001;
  parkminstepconst=0;
  parkmaxiter=1;
  parkminiter=1;
  parkstartdiscr=2;
  itermult=1;
  ppfrequency=500;
  ppdampingratio=0.5;
with ctrlpanel;
  cpfilename = "Default.cp";
  cpleft = 516;
  cptop = -7;
with go_assignment;
with graphwindow; 
  left=413; top=63; 
  width=871; height=454; 
  minx=-1.84213135711081E+0000; 
  maxx= 6.81135411607355E+0001; 
  miny=-1.08198231160304E+0000; 
  maxy= 1.77450656055963E+0000; 
  filtertype=0; 
  passtype=1; 
  filterorder=12; 
  lowfreq= 0.00000000000000E+0000; 
  highfreq= 1.00000000000000E+0001; 
  fixedvisibleregion=false;
  align=3; dpsize= 6.61333333333333E+0001; 
  abscissa=0;
  legendsize=8;
  axislegendonplot=true;  addlines=true;  showscales=true;
  autostepx=true;  manualstepx= 1.00000000000000E-0001;
  autostepy=true;  manualstepy= 1.00000000000000E-0001;
  autoscalex=false;  manualscalex=0;
  autoscaley=false;  manualscaley=0;
  backcolor=16777215;  fontcolor=16711680;  fontsize=7;
  gridstylesolid=false;
  ofsleft=30;
  ofstop=15;
  ofsright=15;
  ofsbottom=15;
  graphswidth=1;
  selectedwidth=2;
  markselectedvars=true;
  usefilter=false;
  filter_min= 0.00000000000000E+0000;
  filter_max= 1.00000000000000E+0000;
  with grwindowvar;
    color=008000;
    marker=0;
    markedline=0;
    visible=0;
    with grvar;
      name=COM_X;
      comment="";
      elementname=COM_X;
      subs=1; ielem=48;
      type=ident;
  with grwindowvar;
    color=800080;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=COM_Y;
      comment="";
      elementname=COM_Y;
      subs=1; ielem=49;
      type=ident;
  with grwindowvar;
    color=FF0000;
    marker=0;
    markedline=0;
    visible=0;
    with grvar;
      name=COM_Z;
      comment="";
      elementname=COM_Z;
      subs=1; ielem=50;
      type=ident;
  with grwindowvar;
    color=0000FF;
    marker=0;
    markedline=0;
    visible=0;
    with grvar;
      name=Xc21(articulated(All bodies));
      comment="Center of mass. Projection X";
      subs=1; ielem=1;
      type=CenterOfMassXBodyList;
      bodylist={
        Body1,
        Body2,
        Body3,
        FR_1,
        FR_2,
        FR_3,
        FL_1,
        FL_2,
        FL_3,
        MR_1,
        MR_2,
        MR_3,
        ML_1,
        ML_2,
        ML_3,
        RR_1,
        RR_2,
        RR_3,
        RL_1,
        RL_2,
        RL_3
      };
  with grwindowvar;
    color=808000;
    marker=0;
    markedline=0;
    visible=1;
    with grvar;
      name=Yc21(articulated(All bodies));
      comment="Center of mass. Projection Y";
      subs=1; ielem=1;
      type=CenterOfMassYBodyList;
      bodylist={
        Body1,
        Body2,
        Body3,
        FR_1,
        FR_2,
        FR_3,
        FL_1,
        FL_2,
        FL_3,
        MR_1,
        MR_2,
        MR_3,
        ML_1,
        ML_2,
        ML_3,
        RR_1,
        RR_2,
        RR_3,
        RL_1,
        RL_2,
        RL_3
      };
  with grwindowvar;
    color=000080;
    marker=0;
    markedline=0;
    visible=0;
    with grvar;
      name=Zc21(articulated(All bodies));
      comment="Center of mass. Projection Z";
      subs=1; ielem=1;
      type=CenterOfMassZBodyList;
      bodylist={
        Body1,
        Body2,
        Body3,
        FR_1,
        FR_2,
        FR_3,
        FL_1,
        FL_2,
        FL_3,
        MR_1,
        MR_2,
        MR_3,
        ML_1,
        ML_2,
        ML_3,
        RR_1,
        RR_2,
        RR_3,
        RL_1,
        RL_2,
        RL_3
      };
with animwindow;
  graphicstype=2; 
  left=1; top=8; 
  width=553; height=629; 
  bgcolor=16744576;
  viewfield=30;
  rotation_style=z;
  camerasubs=0;  camerabody=0;  gridtype=1;  scalev=1;   scalea=10;   scaleang=0.1; 
  scaleom=1;   scalee=10;   scalef=12884.6;   scalem=12884.6; 
  arrowl=0.2;   arrowr=0.05;   vectorr=0.025; 
  a11= -0.9492; a12= -0.0748; a13=  0.3056; 
  a21=  0.0000; a22=  0.9713; a23=  0.2377; 
  a31= -0.3146; a32=  0.2257; a33= -0.9221; 
  perspective=ortho; clipleft=8.43605001933435;
  tpx= 0.00000000000000E+0000; tpy= 0.00000000000000E+0000; tpz= 0.00000000000000E+0000; 
  drawcontactlimits=false;
  align=3; dpsize=41; 
  vectorsvisible=true;
    with grwindowvar;
      color=C0C0C0;
      maxtrgpointcount=1000;
      waydraw=endpoint;
    with grvar;
      name=Rc21(articulated(All bodies));
      comment="Center of mass, vector";
      subs=1; ielem=1;
      type=VectorCenterOfMassBodyList;
      bodylist={
        Body1,
        Body2,
        Body3,
        FR_1,
        FR_2,
        FR_3,
        FL_1,
        FL_2,
        FL_3,
        MR_1,
        MR_2,
        MR_3,
        ML_1,
        ML_2,
        ML_3,
        RR_1,
        RR_2,
        RR_3,
        RL_1,
        RL_2,
        RL_3
      };
with end;
